.authMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;

  background-color: #13153b;
  color: var(--primary-txt-clr);
}

.logo {
  width: 10rem;
  margin-block: 2rem;
  user-select: none;
}

.formSwitcher {
  display: flex;
  width: 25rem;
  gap: 0.15rem;
}

.formSwitcher > button {
  color: var(--primary-txt-clr);
  background-color: var(--button-bg-clr);

  padding-block: 0.5rem;
  border: none;
  width: 100%;
  cursor: pointer;
}

.formSwitcher > button:hover {
  background-color: var(--button-hover-clr);
}

.formSwitcher > button:focus {
  outline: 0.1rem solid var(--primary-accent-clr);
  background-color: var(--button-hover-clr);
}

.formSwitcher > button.active {
  color: var(--primary-accent-clr);
}

.formSwitcher .login {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.formSwitcher .signup {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
}
