:root {
  --primary-bg-clr: #13153b;
  --primary-txt-clr: #fafafb;
  --primary-accent-clr: #f03b7a;

  --primary-accent-hover-clr: #bb2f60;

  --button-bg-clr: #363c5d;
  --button-hover-clr: #2e334f;

  --input-bg-clr: rgb(15, 16, 46);
  --placeholder-clr: #7c7a8d;

  --error-clr: rgba(255, 0, 0, 0.544);
  --success-clr: rgb(0, 179, 0);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: Roboto, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: var(--primary-accent-clr);
}

::selection {
  background-color: var(--primary-accent-clr);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--input-bg-clr);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-accent-clr);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-accent-hover-clr);
}
