.addNewMovieForm {
  display: flex;
  flex-direction: column;
  width: 30rem;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5rem;
  background-color: var(--primary-bg-clr);
  box-shadow: 0 0 1rem 0.3rem var(--shadow-clr);
  border-radius: 0.25rem;
}

.addNewMovieForm > .formGroup {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.addNewMovieForm > .formGroup > input {
  width: 50%;
  border: none;
  padding: 0.5rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}

.addNewMovieForm > .formGroup > input:hover,
.addNewMovieForm > .formGroup > input:focus {
  outline: 0.1rem solid var(--primary-accent-clr);
}

.addNewMovieForm > .formBtns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.addNewMovieForm > .formBtns > button {
  cursor: pointer;
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  width: 5rem;
}

.addNewMovieForm > .formBtns > button:last-child {
  background-color: var(--success-clr);
  color: var(--primary-txt-clr);
}

.addNewMovieForm > .formBtns > button:hover,
.addNewMovieForm > .formBtns > button:focus {
  outline: 0.1rem solid var(--primary-accent-clr);
}
