.loginForm {
  display: flex;
  flex-direction: column;
  padding-block: 3rem;
  gap: 1rem;
  width: 20rem;
  /* background-color: pink; */
}

.formGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.35rem;
}

.formGroup > input {
  background-color: rgb(15, 16, 46);
  border: none;
  padding: 0.5rem;
  width: 100%;
  color: #fafafb;
  font-size: 0.9rem;
  border-radius: 0.25rem;
}

.formGroup > input:focus {
  outline: 0.1rem solid #f03b7a;
}

.formGroup > label {
  font-size: 1rem;
}

.formGroup > input::placeholder {
  font-size: 0.8rem;
  color: #7c7a8d;
}

.submitBtn {
  background-color: #f03b7a;
  color: #fafafb;

  padding-block: 0.5rem;
  border: none;
  width: 100%;

  border-radius: 0.35rem;
  cursor: pointer;
}

.submitBtn:hover,
.submitBtn:focus {
  outline: none;
  background-color: #bb2f60;
}

.errorContainer {
  text-align: center;
  background-color: rgba(255, 0, 0, 0.544);
  padding-block: 0.5rem;
}

.errorContainer > p {
  color: #fafafb;
  font-size: 0.9rem;
}
