.sidebar {
  display: flex;
  padding: 6rem 0rem 1rem 1.5rem;
  width: 10rem;

  position: absolute;
  left: 0;
  top: 0;

  height: 100%;
  background-color: var(--title-bg-clr);
}

.sidebar .menuContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
